extends layout

block content
    .w3-card-4
        header.w3-container.w3-teal
            h3.w3-center #{individuo}   
    .w3-container
                header.w3-container.w3-teal.w3-margin-top
                    h4 Propriedades do Indivíduo
                table(class="w3-table-all")
                    tr
                        th Sujeito 
                        th Predicado
                        th Objeto
                    each p in propriedades
                        tr
                            td= individuo
                            if (p.p == "type")
                                td rdf:#{p.p}
                            else
                                td= prefixo + p.p
                            td= p.o
    footer(class="w3-container w3-teal")
        adress.w3-right A85367
        a(href="javascript:history.back()") Voltar
        a(href="/repositorio") Home